.dishes-slider .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 0.625rem;
  height: 0.625rem;
}

.dishes-slider .swiper-pagination-bullet-active {
  background-color: #de6c53;
}

.dishes-slider .swiper-pagination {
  bottom: 1.3rem !important;
}
