{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "importOrder": [
   "^react$",
   "<THIRD_PARTY_MODULES>",
   "^@/enums/(.*)$",
   "^@/model/(.*)$",
   "^@/interfaces/(.*)$",
   "^@/infrastructure/(.*)$",
   "^@/adapters/(.*)$",
   "^@/contexts/(.*)$",
   "^@/hooks/(.*)$",
   "^@/services/(.*)$",
   "^@/libs/(.*)$",
   "^@/pages/(.*)$",
   "^@/styles/(.*)$",
   "^@/constants/(.*)$",
   "^@/components/(.*)$",
   "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
